npm-debug.log
node_modules
build
out
dist

node_modules

*~
*.diff
*.patch
*.err
*.orig
*.rej
*.swo
*.swp
*.vi
*.sass-cache

.DS_Store
.cache
.project
.settings
.tmproj
Thumbs.db
.gradle
.idea
classes

